$menuBreakPoint: 956px;
$menuHeight: 100px;

#toolbar-nav {
  background-color: #000000;
  height: $menuHeight;
  box-shadow: 0 2px 10px rgba(158, 158, 158, 0.12);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logotype {
    }

    .burger {
      padding: 0 20px;
      border-left: 1px solid #ffffff;
      display: none;
      cursor: pointer;

      mat-icon {
        color: #ffffff;
        line-height: 50px;
      }

      @media (max-width: $menuBreakPoint) {
        display: block;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      margin-right: 120px;

      @media (max-width: $menuBreakPoint) {
        display: none;

        &.is-open {
          display: block;
          position: absolute;
          top: #{$menuHeight + 2};
          background-color: #000000;
          width: 100%;
          text-align: center;

          .menu-item {
            margin-top: 10px;
           margin-bottom: 20px;
           margin-left: 70px;
           border-radius: 10px;
          }
        }
      }

      .menu-item {
        padding: 0 10px;
        height: $menuHeight;
        line-height: $menuHeight;
        display: block;
        color: var(--main-color);
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        margin-right: 50px;

        @media (max-width: $menuBreakPoint) {
          height: 40px;
          line-height: 40px;
        }

        &:hover {
          background: #ffffff;
          transition: ease-in-out 0.7s;
        }

        &:active {
          background: #ffffff;
        }
      }
    }
  }
}

// .header {
//   display: flex;
//   height: 100px;
//   background-color: var(--bg-header-color);
//   font-weight: 500;
//   margin-bottom: 1px;

//   #logo {
//     width: 130px;
//     height: 90px;
//     margin-top: 18px;
//     margin-left: 50px;
//   }

//   #menu {
//     list-style: none;
//     display: inline-flex;
//     margin-top: 20px;
//   }
// }

// .menu li {
//   margin-right: 40px;
// }

// .menu li a {
//   color: var(--main-color);
//   text-decoration: none;
//   font-size: 1.5rem;
// }

// .menu li.active,
// .menu li:hover {
//   &>a {
//     color: var(--menu-btn-hover);
//   }
// }
