$menuBreakPoint: 956px;
$menuHeight: 100px;

@keyframes fadeOut {
  from {
    opacity: 0;
    position: absolute;
  }

  to {
    opacity: 1;
    position: absolute;
  }
}

#toolbar-nav {
  background-color: var(--bg-header-color);
  height: $menuHeight;
  box-shadow: 0 2px 10px rgba(158, 158, 158, 0.12);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    mat-slide-toggle {
      overflow-y: hidden;
      margin-left: 20px;
      font-size: 0.8rem;

      @media (max-width: $menuBreakPoint) {
        margin-left: 0;
        font-size: 1rem;
      }
    }

    .burger {
      padding: 0 20px;
      border-left: 1px solid var(--negative-color);
      display: none;
      cursor: pointer;

      mat-icon {
        color: var(--negative-color);
        line-height: 30px;
        overflow-y: hidden;
      }

      @media (max-width: $menuBreakPoint) {
        display: block;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      margin-right: 40px;

      @media (max-width: $menuBreakPoint) {
        display: none;

        &.is-open {
          display: block;
          position: absolute;
          top: #{$menuHeight + 2};
          background-color: var(--bg-header-color);
          width: 100%;
          text-align: center;
          z-index: 1;
          animation-name: fadeOut;
          animation-duration: 0.5s;

          .menu-item {
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 70px;
            border-radius: 10px;
          }
        }
      }

      .menu-item {
        padding: 0 10px;
        height: $menuHeight;
        line-height: $menuHeight;
        display: block;
        color: var(--main-color);
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        margin-right: 50px;

        @media (max-width: $menuBreakPoint) {
          height: 40px;
          line-height: 40px;
        }

        &:hover {
          background: var(--negative-color);
          transition: ease-in-out 0.5s;
        }

        &:active {
          background: #ffffff;
        }
      }
    }
  }
}

svg > path:nth-of-type(1) {
  fill: var(--logo-text-color);
}

mat-checkbox {
  overflow-y: hidden;
}
