<nav id="toolbar-nav">
  <ul>
    <li class="logotype">
        <a routerLink="/">
            <img src="assets/img/logo.svg" alt="logo" id="logo">
        </a>
    </li>

    <li class="burger" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
    </li>

    <li class="menu" [class.is-open]="isMenuOpen">
      <a class="menu-item" routerLink="/">Home</a>
      <a class="menu-item" routerLink="sobre">Sobre mim</a>
      <a class="menu-item" routerLink="meu-portfolio">Portfólio</a>
      <a class="menu-item" href="#">Skills</a>
    </li>
  </ul>
</nav>

<!-- <mat-toolbar class="header col-sm-12">
    <span class="col-md-4">
        <a routerLink="/">
            <img src="assets/img/logo.svg" alt="logo" id="logo">
        </a>
    </span>

    <ul class="col-md-4" id="menu" class="menu">
        <li routerLinkActive="active">
            <a routerLink="sobre">About</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="meu-portfolio">Portfolio</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="contato">Contact</a>
        </li>
    </ul>

    <div class="toggleWrapper">
        <input type="checkbox" class="dn" id="dn" [checked]="activeThemeIsDark" (change)="toggleTheme()" />
        <label for="dn" class="toggle">
          <span class="toggle__handler">
            <span class="crater crater--1"></span>
            <span class="crater crater--2"></span>
            <span class="crater crater--3"></span>
          </span>
          <span class="star star--1"></span>
          <span class="star star--2"></span>
          <span class="star star--3"></span>
          <span class="star star--4"></span>
          <span class="star star--5"></span>
          <span class="star star--6"></span>
        </label>
      </div> 
    

    <span class="col-md-4" id="modo-noturno">
    </span>
</mat-toolbar> -->
