<div class="wrapper hide-on-mobile">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="intro">
        <h2>Oi, eu sou</h2>
        <h1>Karine Martins.</h1>
        <h2 class="cargo">Desenvolvedora Angular</h2>

        <a
          href="https://www.linkedin.com/in/karine-martins101/"
          target="_blank"
        >
          <button mat-stroked-button>
            Linkedin
            <mat-icon>link</mat-icon>
          </button>
        </a>
      </div>
    </div>
    

    <div class="col-sm-12 col-md-6">
      <div class="image">
        <img src="assets/img/me-3d.png" alt="me_3d" />
      </div>
    </div>
  </div>
</div>

<!-- SOLUÇÃO TEMPORÁRIA PRA RESPONSIVIDADE DE DIVS -->

<div class="wrapper show-on-mobile-only">
  <div class="row">
      <div class="col-sm-12 col-md-6 container">
        <div class="image">
          <img src="assets/img/me-3d.png" alt="me_3d" />
        </div>
    </div>
   

    <div class="col-sm-12 col-md-6">
      <div class="intro">
        <h2>Oi, eu sou</h2>
        <h1>Karine Martins.</h1>
        <h2 class="cargo">Desenvolvedora Angular</h2>

        <a
          href="https://www.linkedin.com/in/karine-martins101/"
          target="_blank"
        >
          <button mat-stroked-button>
            Linkedin
            <mat-icon>link</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>


