.header {
    display: flex;
    height: 100px;
    background-color: #ffffff;
    font-weight: 500;

    #logo {
        width: 200px;
        height: 200px;
    }

    #menu {
        list-style: none;
        display: inline-flex;
        margin-top: 20px;
    }

    #modo-noturno {
        margin-left: 17pc;
    }
}

.menu li {
        margin-right: 40px;
}

.menu li a {
    color: #51aa8c;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu li.active,
.menu li:hover {
  & > a {
    color: #212529;
  }
}
