<mat-toolbar class="header mat-elevation-z4 col-sm-12">
    <span class="col-md-4">
        <a routerLink="/">
            <img src="assets/img/logo_1.png" alt="logo" id="logo">
        </a>
    </span>

    <ul class="col-md-4" id="menu" class="menu">
        <li><a routerLink="sobre">Sobre</a></li>
        <li><a routerLink="meu-portfolio">Portfólio</a></li>
        <li><a routerLink="contato">Contato</a></li>
    </ul>

    <span class="col-md-4" id="modo-noturno">
        (modo noturno)
    </span>
</mat-toolbar>