<div class="wrapper">
  <div class="col-sm-12">
    <h1>Alguns projetos</h1>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <a href="https://pokedex-app-delta.vercel.app/" target="_blank">
        <mat-card>
          <mat-card-title> Pokedex </mat-card-title>
          <mat-card-content>
            <img src="assets/img/pokedex.jpeg" alt="pokedex" />
          </mat-card-content>
          <mat-card-footer
            >Aplicação desenvolvida em Angular onde é possível filtrar diversos
            pokemóns realizando requisições a PokeApi.</mat-card-footer
          >
        </mat-card>
      </a>
    </div>

    <div class="col-sm-12 col-md-4">
      <a href="https://techflix-navy.vercel.app/" target="_blank">
        <mat-card>
          <mat-card-title> TechFlix </mat-card-title>
          <mat-card-content>
            <img src="assets/img/techflix.jpeg" alt="techflix" />
          </mat-card-content>
          <mat-card-footer
            >Plataforma de vídeos desenvolvida em React que reúne diversos
            conteúdos relacionados a tecnologia de um modo
            geral.</mat-card-footer
          >
        </mat-card>
      </a>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title> Em breve </mat-card-title>
        <mat-card-content>
          <img src="assets/img/telapreta.jpg" alt="em breve" />
        </mat-card-content>
        <mat-card-footer>Em desenvolvimento :)</mat-card-footer>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title> Em breve </mat-card-title>
        <mat-card-content>
          <img src="assets/img/telapreta.jpg" alt="em breve" />
        </mat-card-content>
        <mat-card-footer>Em desenvolvimento :)</mat-card-footer>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title> Em breve </mat-card-title>
        <mat-card-content>
          <img src="assets/img/telapreta.jpg" alt="em breve" />
        </mat-card-content>
        <mat-card-footer>Em desenvolvimento :)</mat-card-footer>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title> Em breve </mat-card-title>
        <mat-card-content>
          <img src="assets/img/telapreta.jpg" alt="em breve" />
        </mat-card-content>
        <mat-card-footer>Em desenvolvimento :)</mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div class="col-sm-12 btn">
    <a href="https://github.com/kmartinss?tab=repositories" target="_blank">
      <button mat-stroked-button>
        Abrir repositórios no GitHub
        <mat-icon>link</mat-icon>
      </button>
    </a>
  </div>
</div>
