<div class="wrapper col-sm-12">
    <mat-toolbar class="col-sm-12 page-header">
        <div class="intro-header">
            <p class="title-header">Sobre mim</p>
            <p class="subtitle-header">Desenvolvedora Front-end Jr. e Analista de Sistemas em formação.</p>
        </div>
    </mat-toolbar>

    <div class="col-sm-12 apresentation-section">
        <div class="row">
            <div class="col-md-4 profile">
                <mat-card class="mat-elevation-z4">
                    <img src="assets/img/me_1.jpeg" alt="profile">

                    <p id="disponibility">
                        <mat-icon>code</mat-icon> Disponível para novos projetos!
                    </p>
                </mat-card>
            </div>

            <div class="col-md-8 biography">
                <mat-card>

                    <mat-card-content>
                        <h2>Eu sou a Karine, prazer em conhece-lo</h2>
                        <p> Se aproveitou de seus iguais, silenciados pela heteronormatividade patriarcal perpetuando o
                            fascismo. Descentralizou as uniformidades do discurso da mulher branca socialmente
                            privilegiada,
                            em detrimento da pauta antirracial sem entender as vicissitudes sociais que abrangem as
                            minorias.
                        </p>

                        <h2>Histórico profissional</h2>
                        <p>Ofendeu as
                            vulnerabilidades da mulher branca socialmente privilegiada, em detrimento da pauta
                            antirracial
                            perpetuando o fascismo, reduziu o discurso das pautas minoritárias dos gays e não-binários.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>