<div class="wrapper col-sm-12">
    <mat-toolbar class="col-sm-12 page-header">
        <div class="intro-header">
            <p class="title-header">Sobre mim</p>
            <p class="subtitle-header">Desenvolvedora Front-end Jr. e Analista de Sistemas em formação.</p>
        </div>
    </mat-toolbar>

    <div class="col-sm-12 apresentation-section">
        <div class="row">
            <div class="col-md-4 profile">
                <mat-card class="mat-elevation-z4">
                    <img src="assets/img/me_1.jpeg" alt="profile">

                    <p id="disponibility">
                        <mat-icon>code</mat-icon> Disponível para novos projetos!
                    </p>
                </mat-card>
            </div>

            <div class="col-md-8 biography">
                <mat-card>

                    <mat-card-content>
                        <h2>Eu sou a Karine, prazer em conhece-lo</h2>
                        <p> Tenho 18 anos e atualmente estou cursando o 3º de Análise e Desenvolvimento de Sistemas.
                            Estou em busca de aprimorar meus conhecimentos como Desenvolvedora Front-End através de
                            novos projetos e desafios. <br>
                            É um prazer ter você aqui! :D


                        </p>

                        <h2>Histórico profissional</h2>
                        <p>No momento não possuo um histórico tão extenso pois acabei de iniciar nessa nova jornada, mas
                            atualmente trabalho
                            na Tag2u, aonde exerço atividades como Desenvolvedora Front-End Jr.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>