<div class="wrapper col-sm-12">
    <mat-toolbar class="col-sm-12 page-header">
        <div class="intro-header">
            <p class="title-header">About</p>
            <p class="subtitle-header">Front-end Jr. Developer and Systems Analyst in training.</p>
        </div>
    </mat-toolbar>

    <div class="col-sm-12 apresentation-section">
        <div class="row">
            <div class="col-md-4 profile">
                <mat-card class="mat-elevation-z4" class="profile-card">
                    <img src="assets/img/me_1.jpeg" alt="profile" id="me-profile">

                    <div class="social-networks col-sm-12">
                        <a href="https://github.com/KMartinss"><img src="assets/img/github-2.png" alt="github"></a>
                        <a href="https://www.instagram.com/xkmartins/"></a> <img src="assets/img/instagram-2.png"
                            alt="insta">
                        <img src="assets/img/facebook-2.png" alt="facebook">
                    </div>

                    <div class="col-sm-12">
                        <button mat-stroked-button color="primary" class="hire-btn">
                            Hire me <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>

            <div class="col-md-8 biography">
                <mat-card class="biography-card">
                    <mat-card-content>
                        <h1>Hi, I'm Karine</h1>
                        <p id="paragraph-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum
                            has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only
                            five
                            centuries.
                        </p>

                        <p>It was popularised in the 1960s with the release?
                        </p>

                        <a id="chat" href="https://api.whatsapp.com/send?phone=5511973860439&text=Oii">Let's chat!</a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>