/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body,
* {
  font-family: 'Poppins', sans-serif;
}

.right {
    float: right;
}
