@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$menuBreakPoint: 956px;


@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(12, 12, 12) 35%,
    rgb(32, 32, 32) 100%
  );
}

body,
* {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.right {
  float: right;
}

@media only screen and (max-width: 700px) {
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile-only {
    display: inherit;
  }
}

@media only screen and (min-width: 701px) {
  .hide-on-mobile {
    display: inherit;
  }

  .show-on-mobile-only {
    display: none;
  }
}

.wrapper {
    margin-top: 60px;
    animation-name: fadeOut;
    animation-duration: 1s;

    color: #cccccc;

    h1 {
      overflow-y: hidden;
    }
}

p {
  mat-icon {
    vertical-align: -6px;
  }
}

.mat-card {
  background-color: var(--bg-card);
  color: var(--text-color);
}

a {
  text-decoration: none;
}