<div class="wrapper">
  <div class="col-sm-12">
    <h1>Habilidades</h1>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>HTML</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/html.svg"
            alt="html"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>CSS</mat-card-title>
        <mat-card-content>
          <img class="image" src="assets/img/skills-icons/css.svg" alt="css" />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>JavaScript</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/javascript.svg"
            alt="javascript"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>Sass</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/sass.svg"
            alt="sass"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/angular.svg"
            alt="angular"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>Git</mat-card-title>
        <mat-card-content>
          <img class="image" src="assets/img/skills-icons/git.svg" alt="git" />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>Github</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/github.svg"
            alt="github"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>TypeScript</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/typescript.svg"
            alt="typescript"
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-4">
      <mat-card>
        <mat-card-title>GraphQL</mat-card-title>
        <mat-card-content>
          <img
            class="image"
            src="assets/img/skills-icons/graphql.svg"
            alt="graphql"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
